* { 
    padding: 0; 
    margin: 0; 
    border: 1px solid cyan;
} 

header { 
    background: darkblue; 
    color: gold; 
    padding: 50px; 
    text-align: center;
}

h2 {
    background: cyan;
    color: blueviolet;
    text-align: center;
    font-size: 25px;
}

p { 
    background: darkblue;
    color: gold; 
    font-size: 20px;
    text-align: center;
} 